<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест: насколько хорошо ты умеешь гуглить</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center">Вопрос №17</h1>

    <p>

    </p>
    <pre style="color: black; font-size: 16px; font-family: Segoe Print; text-align: center; overflow: hidden; margin: 0 0 0 0">
    Да, в Китае самый крупный порт.
    Но крупнейшая ДЕЙСТВУЮЩАЯ АЭС находится в другом азиатском государстве.
    Сможешь его назвать?
    <strong>Введи полное официальное название страны на английском,
    с маленькой буквы, без артикля и разделительных знаков(пробел, дефис)</strong>
    </pre>
    <div class="text-center">
        <img src="../static/ningbozhoushan.png" style="position: relative;
   overflow:hidden;
   width:580px;
   height:320px;">
    </div>
</body>
</html>