<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тест: насколько хорошо ты умеешь гуглить</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <h1 style="text-align: center">Вопрос №3</h1>

    <p>

    </p>
    <pre style="color: black; font-size: 16px; font-family: Segoe Print; text-align: center; overflow: hidden; margin: 0 0 0 0">
    Смог дать название этим биржам? Тогда наверняка ты сможешь вспомнить историю,
    произошедшую весной 2020 года в период пандемии.
    В один день произошел резкий обвал по 3 индексам этой фондовой биржи.
    В простонаречии это явление получило название «черный ...»
    Уже смог вспомнить, что скрывается под тремя точками?
    Тогда смело вперед!

    <strong>Одно слово на английском языке с маленькой буквы</strong>
    </pre>
    <div class="text-center">
        <img src="../static/nyse.png" style="position: relative;
   overflow:hidden;
   width:530px;
   height:270px;">
    </div>
</body>
</html>